
<mat-drawer-container class="container">
    <mat-drawer #sidenav mode="over" [opened]="isSidenavOpen" class="sidenav bg-secondaryContainer p-1">
        <mat-nav-list>
          <a mat-list-item routerLink="/questions">Home</a>
          <a mat-list-item routerLink="/questions/tags">tags</a>
          <a mat-list-item routerLink="/questions/ask">Ask a question</a>
          <a mat-list-item routerLink="/questions/answers">My Questionsr</a>
          </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content class="content">
     
      <mat-toolbar>
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
      <div class="body-contents p-2  bg-white">
        <div class="top">
            <h1 class="text-footer font-bold text-xl">Tags</h1>
            <p>A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.</p>
            <div class="tags flex  justify-between mt-2">
                <input type="search" name="" id="" placeholder="search by tag" [(ngModel)]="filterTag" >
                <p>Filter by : {{filterTag}}</p>
                <div class="buttons">
                    <mat-button-toggle-group class="outline-group" aria-label="Button toggle group">
                        <mat-button-toggle class="outline-toggle" value="New">Popular</mat-button-toggle>
                        <mat-button-toggle class="outline-toggle" value="unanswered">Name</mat-button-toggle>
                        <mat-button-toggle class="outline-toggle" value="questions">New</mat-button-toggle>
                      </mat-button-toggle-group>
                      
                </div>
            </div>
        </div>
        <div class="cont h-cust">
            <div class="try  grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1"  *ngIf="filterTagArray.length; else empty ">
                <div class="quiz"  *ngFor="let question of filterTagArray">
                  <mat-card class=" bg-primaryContainer h-48 p-1 m-4  " >
                      <div class="tops sm:grid-cols-1">
                          
                          <div class="right">
                           <mat-card-header class="text-2xl text-questionC">
                              <h3 (click)="getSingleQuiz(question.QuestionId)">{{ question.Title }}</h3>
                           </mat-card-header>
                           <mat-card-content class="text-content text-sm">
                             {{question.Details}}
                           </mat-card-content>
                          </div>
                      </div>
                      <div class="bottom">
                          <div class="left">
                              <li *ngFor="let tag of question.Tags" class="tag bg-secondaryContainer text-question list-none">{{ tag }}</li>
                          </div>
                          <div class="mid">
                              <div class="name text-secondary font-bold">{{question.Username}}</div>
                          </div>
                          <div class="right text-content font-bold">
                          {{ question.CreateDate | date}}
                          </div>
                      </div>
                  </mat-card>
                </div>
          </div>
          <ng-template #empty>
              <p> No tags for that Question 🤒</p>
          </ng-template>
        </div>
   
      

      
      </div>

    </mat-drawer-content>
  </mat-drawer-container>
  


  <style>
    input{
    /* width: 90%; */
   
    width: 20%;
    background-color: #E3E6E8;
    border-radius: .5rem;
    padding: 0.5rem;
    }


    mat-card{
        width: 15rem;
    }
    mat-button-toggle-group,mat-button-toggle{
        
        border: 1px solid black;
    }
    @media (max-width: 640px) {
        .tags{
            display: grid;
            grid-template-columns: 1fr;
            gap: .5rem;
        }
        input{
            width: 90%;
            margin-top: .5rem;
        }
        mat-card{
            width: 100%;
            font-size: 1rem;
            font-weight: 500;
        }
        h1,p{
            font-size: 1rem;
            font-weight: 500;
        }
    }
    
    
  </style>