<mat-toolbar class="bg-secondaryContainer">
    <div class="nav">
      <div class="left">
        <a routerLink="">
          <h1>
            <span class="text-primary">Ask</span><span class="text-secondary">&Jib</span>
          </h1>
        </a>
      </div>
      <div class="mid">
        <div class="left">
          <p class="text-questionC font-normal"><a routerLink="/questions/ask" *ngIf="authService.isLoggedIn()">Ask</a></p>
          <p class="text-questionC font-normal"><a routerLink="/questions" *ngIf="authService.isLoggedIn()">Questions</a></p>
        </div>
        <div class="right">
          <input type="search" name="" id="" placeholder="Search here" class="" [(ngModel)]="searchText">
        </div>
      </div>
      <div class="right">
        <button class="h-11 w-20 rounded-md mx-3 text-primary hover:bg-primary hover:text-white">
          <a routerLink="/login" *ngIf="!authService.isLoggedIn()" >Login</a>
        </button>
        <button class="py-1 px-2 bg-secondary text-white h-10 w-28 rounded-xl hover:bg-primary">
          <p> <a routerLink="/signup" *ngIf="!authService.isLoggedIn()">
            <button>signup</button>
        </a></p>
        <a  *ngIf="authService.isLoggedIn()"
        (click)="authService.logout()"
        >
        <button>Logout</button>
    </a>
        </button>
       
       
      </div>
    </div>
  </mat-toolbar>
  
  <style>
        .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .left h1{
        font-size: 2rem;
    }
    .right{
        height: 100%;
        width: 12rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mid{
        width: 32rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }.mid .left{
        display: flex;
        width: 10rem;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 1.2rem;

    }
    .mid .right{
        width: 21rem;
        align-items: center;
        display: flex;
        padding: 0.5rem;
    }
    .mid .right input{
        width: 100%;
        padding: 0.5rem;
        border-radius: 1rem;
    }
    input:focus{
        outline: none;
    }

    .left{
        height: 100%;
        align-items: center;
        display: flex;
        font-size: 1.2rem;
        font-weight: bold;
    }
    /* Responsive styles for phone screens */
    @media (max-width: 740px) {
      .nav {
        flex-direction: column;
        align-items:center;
        justify-content: center;
        padding: 0.5rem;
        gap: .5rem;
      }
  
      .mid .left {
        margin-right: .5rem;
       width: 70%;
    display: flex;
    align-items: center;
   justify-content: space-around;
    /* background: black; */
   
      }
  
      .mid {
        width: 100%;
        display: flex;
        flex-direction: column;
       
      }
  
      .right {
        width: 100%;
        justify-content: space-around;
       
      }
   
      .right button {
        margin-right: 0.5rem;
      }
    }
  </style>
  