<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="container">
    <h3 style="color:#000080; font-size:1.7rem"> Hello <%=name%> </p>
    <h4 style="font-size: 1.4rem;color:#FF7629">Welcome to AsknJib</h2>
    <p> click <a href="#">here </a> to verify your email</p>
   </div>
</body>
</html>