<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3 style="color:#FF7629; font-size:1.7rem"> Hello <%=name%> </p>
        <h4 style="font-size: 1.4rem;color:white">Password reset success</h2>
        <p style="color:white; font-size: 1rem;">Didn't request for this ? click  <a href="#">here</a> </p>
    </div>
     
</body>
</html>