
<mat-drawer-container class="container">
    <mat-drawer #sidenav mode="over" [opened]="isSidenavOpen" class="sidenav bg-secondaryContainer p-1">
      
        <mat-nav-list>
            <a mat-list-item routerLink="/questions">Home</a>
            <a mat-list-item routerLink="/questions/tags">tags</a>
            <a mat-list-item routerLink="/questions/ask">Ask a question</a>
            <a mat-list-item routerLink="/questions/answers">Answer</a>
            <a mat-list-item routerLink="/questions/specific/1">question detail</a>
            <a mat-list-item routerLink="/questions/kevin">My questions</a>
            <a mat-list-item routerLink="/admin/users">Admin users</a>
            <a mat-list-item routerLink="/admin/question">Admin Quiz</a>
         
          </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content class="content">
     
      <mat-toolbar>
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
      <div class="body-contents p-2  bg-white h-cust">
       
       <div class="users flex flex-col gap-2">
        <h1 class="text-questionC text-3xl font-bold mb-4" >users</h1>
        <div class="userz" *ngFor="let user of users ">
            <div class="user flex justify-around bg-secondaryContainer p-2">
                <p>{{user.Username}}</p>
                <p>{{user.Email}}</p>
                <button class="bg-secondary py-1 px-2 text-white rounded-lg"  >delete</button>
            </div>
        </div>
        <div class="user flex justify-around bg-secondaryContainer p-2">
            <p>Kevin Otieno</p>
            <p>kelvinotix@gmail.com</p>
            <button class="bg-secondary py-1 px-2 text-white rounded-lg" >delete</button>
        </div>
        <div class="user flex justify-around bg-secondaryContainer p-2 ">
            <p>vinnie Otieno</p>
            <p>velvinotix@gmail.com</p>
            <button class="bg-secondary py-1 px-2 text-white rounded-lg" >delete</button>
        </div>
        <div class="user flex justify-around bg-secondaryContainer p-2 ">
            <p>Brian Otieno</p>
            <p>belvinotix@gmail.com</p>
            <button class="bg-secondary py-1 px-2 text-white rounded-lg" >delete</button>
        </div>
       </div>
      
      
      </div>

    </mat-drawer-content>
  </mat-drawer-container>
  


  <style>
    input{
    /* width: 90%; */
   
    width: 20%;
    background-color: #E3E6E8;
    border-radius: .5rem;
    padding: 0.5rem;
    }


   
 
    @media (max-width: 640px) {
        .tags{
            display: grid;
            grid-template-columns: 1fr;
            gap: .5rem;
        }
        input{
            width: 90%;
            margin-top: .5rem;
        }
        mat-card{
            width: 100%;
            font-size: 1rem;
            font-weight: 500;
        }
        h1,p{
            font-size: 1rem;
            font-weight: 500;
        }
        .user{
            width: auto;
            padding: 0.5rem;
        }

    }
    
    
  </style>