<div class="proof  w-full bg-footer grid lg:grid-cols-3 align-middle gap-2 md:grid-cols-2 sm:grid-cols-1">
    <div class="box">
        <div class="top">
            <h1>2000+</h1>
        </div>
        <div class="bottom">
            <h5>questions asked</h5>
        </div>
    </div>
    <div class="box">
        <div class="top">
            <h1>3000+</h1>
        </div>
        <div class="bottom">
            <h5> answers to questions</h5>
        </div>
    </div>
    <div class="box">
        <div class="top">
            <h1>100+</h1>
        </div>
        <div class="bottom">
            <h5>
                daily users
            </h5>
        </div>
    </div>
</div>

<style>
    .proof{
        margin-top: .8rem;
        border-radius: .5rem;
        padding: 0.5rem;
    }
    .box{
        /* background-color: aliceblue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        height: 9rem;
    }
    .box h1{
        font-size: 2.4rem;
        color: #F2740D;
    }
    .box h5{
        font-size: 1.2rem;
        color:#FEE3CD ;
    }
</style>