<footer class="w-full bg-footer grid lg:grid-cols-3 p-4 justify-center text-white md:grid-cols-2 sm:grid-cols-1 sm:my-2 sm:align-middle sm:justify-center mb-0">
    <div class="left">
        <h1 class="text-xl font-bold"><span class="text-primary">Ask</span><span class="text-secondary">&Jib</span></h1>
        <p>Discover,Engage, Excel !!</p>
    </div>
    <div class="right flex-col align-middle justify-center">
        <h2 class="text-lg mb-2 text-secondary">Links</h2>
        <p class="flex align-middle w-28  justify-between">Home <span> <mat-icon fontIcon="home"></mat-icon> </span></p>
        <p class="flex align-middle w-28  justify-between">About <span> <mat-icon fontIcon="search-check"></mat-icon> </span></p>
        <p class="flex align-middle w-28  justify-between">Questions <span><mat-icon fontIcon="quiz"></mat-icon></span> </p>
    </div>
    <div class="mid">
        <h2 class="text-lg mb-2 text-secondary">contact us</h2>
        <p class="flex align-middle w-48  justify-between">AsknJib@gmail.com <span><mat-icon fontIcon="email"></mat-icon></span></p>
        <p>A&J@twitter.com</p>
        <p>AnJ@yahoo.com</p>
    </div>
</footer>

<style>
    footer{
        margin: 0;
    }
</style>