<div class="testimonials">
    <h1 class="text-center text-3xl text-secondary font-bold mb-8">What People Say About Us</h1>
    <div class="testimonies grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 justify-evenly align-middle gap-2">
       <mat-card class="card">
           <div class="image" class="flex justify-center"> <img src="../../../assets/person.png" alt="" class="w-16 " ></div>
        <mat-card-content>
            Lorem ipsum dolor sit amet consectetur. Feugiat cursus dictumst curabitur non. At erat convallis est elit. Amet pellentesque nulla mauris orci sed viverra mauris suscipit. Augue dui amet gravida turpis ullamcorper in.
        </mat-card-content>
       </mat-card>
       <mat-card  class="card">
        <div class="image" class="flex justify-center"> <img src="../../../assets/person.png" alt="" class="w-16 " ></div>
        <mat-card-content>
            Lorem ipsum dolor sit amet consectetur. Feugiat cursus dictumst curabitur non. At erat convallis est elit. Amet pellentesque nulla mauris orci sed viverra mauris suscipit. Augue dui amet gravida turpis ullamcorper in.
        </mat-card-content>
       </mat-card>
       <mat-card  class="card">
        <div class="image" class="flex justify-center"> <img src="../../../assets/person.png" alt="" class="w-16 " ></div>
        <mat-card-content>
            Lorem ipsum dolor sit amet consectetur. Feugiat cursus dictumst curabitur non. At erat convallis est elit. Amet pellentesque nulla mauris orci sed viverra mauris suscipit. Augue dui amet gravida turpis ullamcorper in.
        </mat-card-content>
       </mat-card>
    </div>
</div>


<style>
    .testimonials{
        width: 100%;
        /* height: 10rem; */
        background-color: #fff;
        margin-top: 0.8rem;
        padding: 1rem;
    }
    .card{
        background-color: #CDE9FE;
        padding: 0.5rem;
        border-radius: .5rem;
        color: #525960;
    }
</style>